@model IEnumerable<GCS.Models.OutcomeCompanyViewModel>

@{
    ViewData["Title"] = "Index";
}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="breadcrumb-item active">Outcomes</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Outcomes List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Assessment Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.company.Name) </td>
                                <td> @Html.DisplayFor(modelItem => item.outcome.Assessment_date)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.outcome.Id">Edit</a> |
                                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                    <a asp-action="Delete" asp-route-id="@item.outcome.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--  <div class="card-footer small text-muted"></div> -->
    </div>