@model IEnumerable<GCS.Models.Assessment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vision_agreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Core_values_agreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mission_statement_agreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vision_outcome_agreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competitive_strategy_agreement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company_composite_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strat_people_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strat_resources_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strat_processes_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strat_culture_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strat_composite_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake_people_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake_resources_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake_processes_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake_culture_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake_composite_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oper_people_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oper_resources_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oper_processes_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oper_culture_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oper_composite_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risk_people_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risk_resources_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risk_processes_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risk_culture_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risk_composite_score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessment_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vision_agreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Core_values_agreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mission_statement_agreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vision_outcome_agreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competitive_strategy_agreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_composite_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strat_people_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strat_resources_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strat_processes_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strat_culture_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strat_composite_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stake_people_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stake_resources_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stake_processes_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stake_culture_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stake_composite_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oper_people_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oper_resources_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oper_processes_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oper_culture_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oper_composite_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Risk_people_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Risk_resources_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Risk_processes_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Risk_culture_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Risk_composite_score)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
