@model IEnumerable<GCS.Models.AssessmentCompanyViewModel>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Assessment</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Assessment List
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Assessment Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.company.Name) </td>
                            <td> @Html.DisplayFor(modelItem => item.assessment.Assessment_date)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.assessment.Id">Edit</a> |
                                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                <a asp-action="Delete" asp-route-id="@item.assessment.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--  <div class="card-footer small text-muted"></div> -->
</div>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Company_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assessment_date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assessment_date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
