@model GCS.Models.Company

@{
    ViewData["Title"] = "Create";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "Companies")">Company</a>
    </li>
    <li class="breadcrumb-item active">Create</li>
</ol>
<hr />
<div class="row">
    <div class="container">
        <form asp-action="Create" id="createcompanyform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Name" class="control-label">Company Name</label>
                            <input asp-for="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Website" class="control-label">Website</label>
                            <input asp-for="Website" class="form-control" />
                            <span asp-validation-for="Website" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="KeyContact" class="control-label">Key Contact</label>
                            <input asp-for="KeyContact" class="form-control" />
                            <span asp-validation-for="KeyContact" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Email" class="control-label">Contact Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Phone" class="control-label">Contact Phone</label>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                            <input asp-for="Phone" name="phone" class="form-control" />
                            <script type="text/javascript">
                                $("input[name='phone']").keyup(function () {
                                    $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d{4})$/, "($1)$2-$3"));
                                });
                            </script>
                            <span asp-validation-for="Phone" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 0.5px; background: #808080;">

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Revenue_band" class="control-label">Company Revenue</label>
                            <select asp-for="Revenue_band" class="form-control" asp-items="@(new SelectList(@ViewBag.RevenueList, "Code", "Description"))"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Type" class="control-label">Company Type</label>
                            <select asp-for="Type" class="form-control" asp-items="@(new SelectList(@ViewBag.CompTypeList, "Code", "Description"))"></select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Stage" class="control-label">Company Stage</label>
                            <select asp-for="Stage" class="form-control" asp-items="@(new SelectList(@ViewBag.StageList, "Code", "Description"))"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Employee_band" class="control-label">Company Employee</label>
                            <select asp-for="Employee_band" class="form-control" asp-items="@(new SelectList(@ViewBag.EmployeeList, "Code", "Description"))"></select>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 0.5px; background: #808080;">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">Address 1</label>
                            <input asp-for="Address1" type="text" id="address1" class="form-control">
                            <span for="address1"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">Address 2</label>
                            <input asp-for="Address2" type="text" id="address2" class="form-control">
                            <span for="address2"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">City</label>
                            <input asp-for="City" type="text" id="city" class="form-control">
                            <span for="city"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">State</label>
                            <input asp-for="State" type="text" id="state" class="form-control">
                            <span for="state"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">Zip</label>
                            <input asp-for="Zip" type="text" id="zip" class="form-control">
                            <span for="zip"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label class="control-label">Country</label>
                            <input asp-for="Country" type="text" id="country" class="form-control">
                            <span for="country"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 0.5px; background: #808080;">


            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div>
                            <label asp-for="Vision" class="control-label">Vision</label>
                            <textarea asp-for="Vision" class="form-control"></textarea>
                            <span asp-validation-for="Vision" class="text-danger"></span>

                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div>
                            <label asp-for="Value" class="control-label">Core Values</label>
                            <textarea asp-for="Value" class="form-control"></textarea>
                            <span asp-validation-for="Value" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div>
                            <label asp-for="Mission" class="control-label">Mission Statement</label>
                            <textarea asp-for="Mission" class="form-control"></textarea>
                            <span asp-validation-for="Mission" class="text-danger"></span>

                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div>
                            <label asp-for="Outcome" class="control-label">Mission Outcome</label>
                            <textarea asp-for="Outcome" class="form-control"></textarea>
                            <span asp-validation-for="Outcome" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div>
                            <label asp-for="Strategy" class="control-label">Competitive Strategy</label>
                            <textarea asp-for="Strategy" class="form-control"></textarea>
                            <span asp-validation-for="Strategy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="height: 0.5px; background: #808080;">


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index"><input type="button" value="Cancel" class="btn btn-primary" /> </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}