@model GCS.Models.User

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Users</a>
    </li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<hr />

<div class="row">
    <div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div>
                            <label asp-for="Company_id" class="control-label">Company Name</label>
                            <select asp-for="Company_id" class="form-control" asp-items="@(new SelectList(@ViewBag.CompanyList, "Id", "Name"))"></select>
                            <span asp-validation-for="Company_id" class="text-danger"></span>


                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 0.5px; background: #808080;">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Lname" class="control-label">Last Name</label>
                            <input asp-for="Lname" class="form-control" />
                            <span asp-validation-for="Lname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Fname" class="control-label">First Name</label>
                            <input asp-for="Fname" class="form-control" />
                            <span asp-validation-for="Fname" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="Gender" class="control-label">Gender</label>
                        <select asp-for="Gender" class="form-control" asp-items="@(new SelectList(@ViewBag.GenderList, "Code", "Description"))"></select>
                    </div>
                    <div class="col-md-6">
                        
                            <label asp-for="Race" class="control-label">Race</label>
                            <select asp-for="Race" class="form-control" asp-items="@(new SelectList(@ViewBag.RaceList, "Code", "Description"))"></select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label class="control-label">Role</label>
                        <select asp-for="Role" class="form-control" asp-items="@(new SelectList(@ViewBag.RoleList, "Code", "Description"))"></select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Time with Company</label>
                        <select asp-for="Company_length" class="form-control" asp-items="@(new SelectList(@ViewBag.CompanyTimeList, "Code", "Description"))"></select>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="form-row">
                    <div class="col-md-6" hidden="hidden">
                        <label class="control-label">Company Type</label>
                            <select name="Company" id="company" class="form-control" placeholder="Company" required="required">
                                <option value=""></option>
                                <option value="Startup and early Stage " selected="selected">Startup and early Stage </option>
                                <option value="High Growth">High Growth</option>
                                <option value="Mature">Mature</option>
                                <option value="Distressed/Turnaround">Distressed/Turnaround</option>
                            </select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Time in same role with other Companies</label>
                        <select asp-for="Role_length" class="form-control" asp-items="@(new SelectList(@ViewBag.RoleTimeList, "Code", "Description"))"></select>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (ViewBag.Admin == "True")
                    {
                        <input class="form-check-input" asp-for="Is_admin" /> @Html.DisplayNameFor(model => model.Is_admin)
                    }
                    else
                    {
                        <input class="form-check-input" asp-for="Is_admin" disabled="disabled" /> @Html.DisplayNameFor(model => model.Is_admin)
                    }
                </label>
            </div>
            <hr style="height: 0.5px; background: #808080;">

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Phone" class="control-label">Phone</label>
                            <input asp-for="Phone" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 1px; background: #808080;">

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Address1" class="control-label">Address 1</label>
                            <input asp-for="Address1" type="text" id="address1" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Address2" class="control-label">Address 2</label>
                            <input asp-for="Address2" type="text" id="address2" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="City" class="control-label">City</label>
                            <input asp-for="City" type="text" id="city" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="State" class="control-label">State</label>
                            <input asp-for="State" type="text" id="state" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Zip" class="control-label">Zip</label>
                            <input asp-for="Zip" type="text" id="zip" class="form-control" placeholder="Zip">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label asp-for="Country" class="control-label">Country</label>
                            <input asp-for="Country" type="text" id="country" class="form-control" placeholder="Country">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div>
                            <label class="control-label">Password</label>
                            <input asp-for="Password" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 0.5px; background: #808080;">

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index"><input type="button" value="Cancel" class="btn btn-primary" /> </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
