@model IEnumerable<GCS.Models.UserCompanyViewModel>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Users</li>
</ol>

 <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Users List
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p>
                                <a asp-action="Create">Create New</a>
                            </p>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                <thead>
                                    <tr>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Company Name</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.user.Lname) </td>
                                            <td> @Html.DisplayFor(modelItem => item.user.Fname) </td>
                                            <td> @Html.DisplayFor(modelItem =>  item.company.Name) </td>
                                            <td> @Html.DisplayFor(modelItem => item.user.Email) </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.user.Id">Edit</a> |
                                                <a asp-action="Delete" asp-route-id="@item.user.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  <div class="card-footer small text-muted"></div> -->
                </div>



