@model IEnumerable<GCS.Models.UserCompanyViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.company.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Is_admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Company_length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Role_length)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Is_admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Company_length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Role_length)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.user.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.user.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.user.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
